:root {
  --main-color: #ffffff;
  --dark-topic: #2f303a;
  --logo-span: #2196f3;
  --btn: #2196f3;
  --btn-back: #2196f3;
  --top-battom: #2f303a;
  --nav-btn: #ffffff;
  --logo-nav-header: #212121;
  --title-spec: #212121;
  --address-hover-focus: #2196f3;
  --mail-tel: #757575;
  --text: #757575;
  --prof-desc: #757575;
  --prof-team: #f5f4fa;
  --color-item-page: #2196f3;
  --line: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  background-size: contain;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:hover::after,
.current:focus::after {
  opacity: 1;
}
/*====== HEADER ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background: var(--main-color);
}
.header .container {
  display: flex;
}
.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
  margin-right: 93px;
}
.logo-img {
  color: var(--logo-nav-header);
}
.navigation {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--logo-nav-header);
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--address-hover-focus);
}
.studia {
  color: var(--color-item-page);
}
.mail-list-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--mail-tel);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--address-hover-focus);
}
.mail-link:hover .mail-list-icon,
.mail-link:focus .mail-list-icon {
  fill: var(--address-hover-focus);
}
.tel-list-icon {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--mail-tel);

  transition: color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--address-hover-focus);
}
.tel-link:hover .tel-list-icon,
.tel-link:focus .tel-list-icon {
  fill: var(--address-hover-focus);
}
/*====== END HEADER ======*/

/*====== HERO ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/bg_img/Img.jpg");
  background-size: cover;
  background-position: center;
}
.headline-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 452px;
  padding-left: 452px;
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  min-width: 696px;
  height: 120px;
}
.modal-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--btn-back);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-button-block {
  margin-top: 30px;
}
/*====== END HERO ======*/

/*====== BENEFITS ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.options {
  padding-bottom: 94px;
}
.text-container {
  display: flex;
}
.description {
  width: 270px;
  box-sizing: border-box;
}
.description:not(:last-child) {
  margin-right: 30px;
}
.description-list {
  display: flex;
}
.description-list-link {
  width: 270px;
  height: 120px;
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.description-list-icon {
  width: 70px;
  height: 70px;
}
.title-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-spec);
  width: 270px;
  margin-bottom: 10px;
}
.description-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text);
  width: 270px;
  margin-bottom: 47px;
}
.options-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-bottom: 50px;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.images {
  position: relative;
  width: 370px;
  box-sizing: border-box;
  margin: 15px;
}
.text-position {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*====== END BENEFITS ======*/

/*====== TEAM ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.prof-team {
  background: var(--prof-team);
  padding-bottom: 94px;
  padding-top: 94px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-bottom: 50px;
}
.team-list {
  width: 270px;
  background: var(--main-color);
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 15px;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.name-list {
  padding: 30px 32px;
}
.specialists {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
}
.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prof-desc);
  margin-top: 5px;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-icon:focus .social-list-icon {
  fill: #ffffff;
}
/*====== END TEAM ======*/

/*====== CLIENT ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.client {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.client-list {
  display: flex;
}
.client-list-item {
  width: 170px;
  height: 90px;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-list-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link:hover,
.client-list-link:focus {
  border-color: #2196f3;
}
.client-list-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: #2196f3;
}
/*====== FOOTER ======*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-topic);
}
.footer-container {
  display: flex;
}
.logo-footer-item {
  display: block;
}
.logo-style-footer {
  color: var(--main-color);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  width: 145px;
}
.logo-bottom {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.contacts-block:not(last-child) {
  margin-bottom: 9px;
}
.contacts-list-link {
  color: var(--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_list {
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--address-hover-focus);
}
.footer-social-block {
  display: block;
  margin-left: 70px;
}
.footer-social-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  background-color: #484957;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #2196f3;
}
.modal-form-sub {
  display: block;
  position: relative;
  margin-left: auto;
}
.sub-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.sub-item {
  display: flex;
}
.modal-form-input-sub {
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--dark-topic);
  padding: 15px 16px;
}
.modal-form-input-sub:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-sub-btn {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--btn-back);
  color: #ffffff;
  cursor: pointer;
  margin-left: 14px;
  border: none;
}
.modal-form-sub-btn:hover,
.modal-form-sub-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-form-sub-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*====== END FOOTER ======*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn-icon {
  width: 11px;
  height: 11px;
}
.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  fill: var(--address-hover-focus);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.modal-form-label {
  color: #757575;
  margin-bottom: 10px;
}
.modal-form-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--address-hover-focus);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-icon {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15px;
  height: 12px;
  cursor: pointer;
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--address-hover-focus);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--address-hover-focus);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  margin-top: 10px;
}
.modal-form-label-policy::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #212121;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  content: "";
  cursor: pointer;
}
.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-color: #2196f3;
  border-radius: 2px;
  border: none;
  background-image: url(../img/icon-check.svg);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label-policy {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  align-items: center;
  color: #757575;
}
.check-link {
  color: #2196f3;
  cursor: pointer;
}
.modal-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 54px;
  background: var(--btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-self: center;
  margin-top: 30px;
  cursor: pointer;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
